.loginForm {
  width: 50%;
  border: 1px solid gray;
  margin: 30% auto;
  padding: 10%;
}

header {
  text-align: center;
}

.welcome {
  font-size: 2rem;
  font-weight: bolder;
}

.textForm {
  display: flex;
  flex-direction: column;
}
.loginTitle {
  color: navy;
  padding: 2% 0;
  font-size: 1.5rem;
}

.loginFormInput {
  text-align: left;
  width: 75%;
  margin: 5% 0 0 12.5%;
}

.loginButton {
  width: 25%;
  margin: 5% 0 0 37.5%;
  background: white;
  border: 1px solid gray;
  height: 30px;
}
