.searchBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin: 3% 0;
}

.leftSearch {
  display: flex;
  align-items: center;
}

.leftSearch h1 {
  font-size: 1.5rem;
  margin: 0 2%;
}

.logo {
  font-size: 2rem;
  padding: 0 5% 0 0;
}

.input {
  text-align: center;
  height: 35%;
  background-color: rgb(248, 244, 244);
  border: 1px solid lightgray;
  border-radius: 5%;
}

.rightSearch {
  display: flex;
}

.rightIcon {
  font-size: 1.5rem;
  padding: 0 10%;
}
